.nav-link:hover{
    color: #64CCC5 !important;
}

body{
    background-color:#301E67;
    background-position: center;
    height: 100%;
    width:100% ;
    background-size: cover;
    background-repeat: no-repeat;
}
